@font-face {
    font-family: 'Lato', sans-serif;
    font-display:swap;
    src: url(https://fonts.google.com/?preview.size=60);
}
*{
    box-sizing: border-box;
}


html, body{
    margin: 0;

    font-size: 20px;
    font-family: 'Lato', sans-serif;


}
.header{
    background: #D8E2F9;
    padding: 30px 0;
}
.container{
    width: 1350px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}
.header-right{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 270px;
    height: 30px;
    border: 3px solid rgba(30,60,230,.250);
    padding-left: 5px;
    padding-right: 10px;
}
input {
    outline: 0;
    border: none;
    background: none;
}
.search-input {
    color: #5A88F2;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
::-webkit-input-placeholder {
    color: #0D40B6
}

:-moz-placeholder {
    color: #0D40B6
}

::-moz-placeholder {
    color: #0D40B6
}

:-ms-input-placeholder {
    color: #0D40B6
}
button {
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.search-i {
    color: #fff;
}
.cart-informer {
    color: #fff;
    padding-top: 0;
    padding-left: 20px;
}
.cart-informer__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.cart-informer__count {
    color: #7159ED;
    font-size: 10px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    margin-right: -4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon {
    width: 45px;
    height: 45px;
    border: 3px solid rgba(30,60,215,.230);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon-i {
    color: #fff;
}
.cart-informer__i, .cart-informer__value {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding-left: 10px;
}
.cart-informer__i {
    font-size: 11px;
    margin-top: -2px;
}



.menu {
    height: 90px;
}
.menu__container {
    position: relative;
}
.catalog {
    position: absolute;
    width: 250px;
    top: 0;
    background-color: #AEBCF2;
}
.catalog__header {
    height: 60px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #7188D8;
    border-bottom: none;
    border-top: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.catalog__header-icon {
    font-size: 21px;
}
.catalog__list {
    position: relative;
    z-index: 2;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}
.catalog__link-img {
    margin-right: 10px;
    margin-top: -3px;
}
.catalog__subcatalog {
    width: 867px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all .3s;
}
.catalog__item:hover .catalog__subcatalog { 
    opacity: 1;
    visibility: visible; 
    left: 260px; 
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__nav {
    padding-left: 290px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu__nav-link {
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;
    transition: all .3s;
}
.menu__insta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #2F19A7;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    border-left: 1px solid #e0e0e0;
    padding-left: 40px;
    height: 60px;
}
.menu__insta-icon {
    font-size: 18px;
}
.menu__insta-span {
    padding-left: 10px;
    padding-right: 5px;
    color: #111;
    transition: all .3s;
}
.menu__insta:hover .menu__insta-span {
    color: #1E0D79;
}
  

#proparallax img {
    position: absolute;
    width: 330px;
    margin-left: 400px;
    overflow: hidden;
    object-fit: cover;

}

@keyframes parallax_one { /* controls img.one movement */
    0% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
        opacity: 1;
    }
    /* .imagehold runs from 0 to 27.77% */
    27.77% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
    }
    27.78% { /* .imagepreunload */
        width: 40rem;
        left: 0rem;
        right: 44rem;
    }
    33.33% { /* .imageunloaded */
        height: 27.5rem;
        width: 0rem;
        left: 0rem;
        right: 0rem;
        opacity: 1;
    }
    33.34% { /* imageoff */
        opacity: 0; 
    }
    94.43% { /* .imageon */
        left: 0rem;
        opacity: 0;
    }
    94.44% { /* .imageinitial */
        height: 27.5rem;
        width: 0rem;
        left: 44rem;
        opacity: 1;
    }
    100% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
        opacity: 1;     
    }
}

@keyframes parallax_two { /* controls img.two movement */
    0% { /* .imageoff */
        opacity: 0;
    }
    27.77% { /* .imageon */
        left: 0rem;
        opacity: 0;
    }
    27.78% { /* .imageinitial */
        width: 0rem;
        height: 27.5rem;
        left: 44rem;
        opacity: 1;
    }
    33.33% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
    }
    /* .imagehold runs from 33.34% - 61.10% */
    61.10%{ /* .imageloaded */
        width: 44rem;
        left: 0rem;
    }
    61.11% { /* .imagepreunload */
        width: 44rem;
        left: 0rem;
        right: 44rem;
    }
    66.67% { /* .imageunloaded */
        width: 0rem;
        right: 0rem;
        left: 0rem;
        height: 27.5rem;
        opacity: 1;
    }
    66.68% { /* .imageoff */
        opacity: 0;
    }
    100% { /* .imageoff */
        opacity: 0;
    }
}

@keyframes parallax_three { /* controls img.three movement */
    0% { /* .imageoff */
        opacity: 0;
    }
    61.10%{ /* .imageon */
        opacity: 0;
    }
    61.11% { /* .imageinitial */
        width: 0rem;
        height: 27.5rem;
        left: 44rem;
        opacity: 1;     
    }
    66.67% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
    }
    /* .imagehold runs from 66.67% - 94.43% */
    94.43% { /* .imageloaded */
        width: 44rem;
        left: 0rem;
    }
    94.44% { /* .imagepreunload */
        width: 44rem;
        left: 0rem;
        right: 44rem;
    }
    100% { /* imageunloaded */
        width: 0rem;
        right: 0rem;
        left: 0rem;
        height: 27.5rem;
        opacity: 1;
    }
}

#proparallax img.one{
    animation-name: parallax_one; /* controls img.one movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}

#proparallax img.two {
    animation-name: parallax_two; /* controls img.two movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}

#proparallax img.three {
    animation-name: parallax_three; /* controls img.three movement */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}
p {
    margin: 0;
    padding: 0;
}
img {
    border-style: none;
}
a {
    color: #111;
    text-decoration: none;
}
a:hover {
    color: #5F7EEC;
}
